<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Распознавание чисел</title>
    <script th:src="@{tesseract.js}"></script>
</head>
<body>
<input type="file" id="ocr_url" accept="image/*" />
<input type="button" id="ocr_button" value="Распознать текст" />

<div id="ocr_result"></div>
<script>

    window.onload = function() {

        document.getElementById("ocr_url").value = ""; // Сбрасываем форму после перезагрузки

        var control = document.getElementById("ocr_url");

        control.addEventListener("change", function() {

            var files = control.files;

            document.getElementById("ocr_button").addEventListener("click", function() {

                document.getElementById("ocr_result").innerHTML  = "Идет распознавание текста...";

                Tesseract.recognize(files[0].name).then(function(result) {

                    lang: "rus" // Язык текста

                }).then(function(result) {

                    document.getElementById("ocr_result").innerHTML  = result.text;

                });

            });

        });

    };

</script>


</body>
</html>